@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.titulo-principal {
    font-family: 'Roboto', sans-serif;

    color:#f529e4;
}

div {

height: 200px;
background-image: url(834.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;


}