body {
    background-color: rgb(218, 136, 243);
    color: rgb(255, 255, 255);

}

h1 {
    color: #ab00fa;
    } 

.job-title {
    background-color: #af02ff;
    color: #e7e0e0 ;
}

.high {
color: rgb(rgb(4, 0, 255), green, blue);

}

ul {
background-color: #000000;
color:rgb(4, 0, 255)
}